@inherits TypeinfoCompoentBase

<div>
    <TypeIcon IconKey="@CodIconKey.Namespace" /> @Type.Namespace 
</div>

<div>
    <TypeIcon IconKey="@CodIconKey.Class" /> @TypeDisplayNameConverter.GetDisplayname(Type)
    @if (Type.BaseType != null)
    {
        <span>
            :  <TypeLink Type="@Type.BaseType"><TypeLabel></TypeLabel></TypeLink>
        </span>
    }

</div>

