@page "/constructor-list"
@attribute [ReadmePageInfo(CreatedAt = "01.03.2021", UpdatedAt = "02.06.2021",
  ShortDescription = "Creates an overview with constructors of a class")]

<Documentation TComponent="ConstructorList">
    <Description>
        @code{
            bool hideComments;
            bool showCommentsOnlyOnHover;
        }
        <EditForm Model="this">

        </EditForm>

        <h3>This is a @nameof(ConstructorList) for @nameof(Person)</h3>

        <ConstructorList Type="typeof(Person)" />



        <br /><br />
    </Description>

    <Examples>
        <h2>@nameof(ConstructorList) for @nameof(Templator<Person>)</h2>
        <ConstructorList Type="typeof(Templator<Person>)"></ConstructorList>
        <br /><br />

        <h2>@nameof(ConstructorList) for @nameof(Person)</h2>
        <ConstructorList Type="typeof(Person)"></ConstructorList>
        <br /><br />

        <h3>This is a @nameof(ConstructorList) for <TypeLink Type="@typeof(Person)"><TypeLabel /></TypeLink> with @nameof(ConstructorList.CommentDisplayType) @nameof(CommentDisplayType.OnHover)</h3>
        <ConstructorList Type="typeof(Person)" CommentDisplayType="CommentDisplayType.OnHover" />
        <br /><br />
    </Examples>
</Documentation>