@page "/property-list"
@attribute [ReadmePageInfo(CreatedAt = "01.03.2021", UpdatedAt = "01.05.2021",
         ShortDescription = "Creates an overview about porpertys of a Class")]

<Documentation TComponent="PropertyList">
    <Description>
        <h2>This is a  @nameof(PropertyList) of @nameof(Person)</h2>
        <PropertyList Type="typeof(Person)"></PropertyList>
        <br /><br />
    </Description>
    <Examples>
        <h2>@nameof(PropertyList) of @nameof(Person)</h2>
        <PropertyList Type="typeof(Person)"></PropertyList>
        <br /><br />


        <h2>@nameof(PropertyList) of @nameof(Templator<Person>)</h2>
        <PropertyList Type="typeof(Templator<Person>)"></PropertyList>
    </Examples>
</Documentation>